@{
    ViewData["Title"] = "WaterConsumption";
}
@model IEnumerable<ConsoleApp1.Model.WaterConsumption>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
    }
</style>

<h1>WaterConsumption List</h1>

<a href="/WaterConsumptions/Create">新增</a>

<form action="/WaterConsumptions/SearchUnit" method="post">

    <label>請輸入縣市別:</label><br>

    <input type="text" id="unitName" name="unitName" placeholder="UnitName">
    <input type="submit" value="查詢" />
</form>

<table>
    <thead>
        <tr>
            <th>生活用水量</th>
            <th>縣市別</th>
            <th>供水人數</th>
            <th>每人每日生活用水量(公升)</th>
            <th>統計年度</th>
            <th>備註</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (ConsoleApp1.Model.WaterConsumption w in Model)
            {
                <tr>
                    <td>@w.consumptionOfWater</td>
                    <td>@w.executingUnit</td>
                    <td>@w.populationServed</td>
                    <td>@w.theDailyDomesticConsumptionOfWaterPerPerson</td>
                    <td>@w.year</td>
                    <td>@w.remarks</td>
                    <td>
                        <a href="/WaterConsumptions/Edit/@w.Id">Edit</a>
                        <a id="delBtn" href="/WaterConsumptions/Delete/@w.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(function() {

            $('#delBtn').on('click', (e) => {

                return confirm("Are you sure?");
            });
        });
    </script>
}
